<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/learningList.css">

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    <!-- <h1>학습 파트 고르기</h1> -->
    <div class="buttons">
        <button class="home-button" id="homeButton" onclick="location.href='/game/school'">
            <img src="/images/home_icon.png" class="home-icon" alt="">
        </button>
        <button class="close-button" id="closeButton" onclick="location.href='/game/main'">
            <img src="/images/close_icon.png" class="close-icon" alt="">
        </button>
    </div>

    <div class="swiper learning-swiper">
        <h1>학습</h1>
        <div class="swiper-wrapper">
          <% learningList.forEach(learning => { %>
            <div class="swiper-slide">
              <form method="get" action="/game/school/learning/content/<%= learning.learning_id %>">
                <button class="learning-card" type="submit">
                  <img src="/images/learning_<%= learning.learning_id %>.png" alt="학습 이미지">
                  <div class="card-text">
                    <h3><%= `${learning.learning_id}장` %></h3>
                    <!-- <p><%= learning.description %></p> -->
                  </div>
                </button>
              </form>
            </div>
          <% }) %>
        </div>
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      </div>

      <script>
        const swiper = new Swiper('.learning-swiper', {
          slidesPerView: 2.6,
          spaceBetween: 88,
          centeredSlides: true,
        //   navigation: {
        //     nextEl: '.swiper-button-next',
        //     prevEl: '.swiper-button-prev',
        //   },
          breakpoints: {
            768: {
              slidesPerView: 2.5
            },
            1024: {
              slidesPerView: 3
            }
          }
        });
      </script>
      
</body>
</html>


<!-- <% learningList.forEach(learning => { %>
    <form method="get" action="/game/school/learning/content/<%= learning.learning_id %>">
        <button type="submit"><%= learning.learning_id %></button>
    </form>
<% }) %> -->
