<h1>일반 모드 커리큘럼 고르기</h1>

<% curriculumList.forEach(curriculum => { %>
    <form method="post" action="/game/school/quiz/select">
        <input type="hidden" name="type" value="general">
        <input type="hidden" name="curriculumId" value="<%= curriculum.curriculum_id %>">
        <button type="submit"><%= curriculum.curriculum_title %></button>
    </form>
<% }) %>

<hr>
사용자 프로그레스 현황 참고. 체크할 때 tatalProg 사용하시면 됩니다
<%=storyProg%>
<%=learningProg%>
<%=totalProg%>