<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Story List</title>
</head>
<body>
  <h1>스토리 목록</h1>
  <div id="story-buttons">
    <% storyList.forEach(function(story) { %>
      <button data-story-id="<%= story.story_id %>" >
        <%= story.story_id %>
        <%= story.story_title %>
        <%= story.simple_description %>
      </button>
    <% }); %>
  </div>
  <div id="game-container"></div>
  <h1>정보 테스트</h1>
  사용자가 필요한 아이템 가지고 있나: <%= isUnlock %> <br>
  사용자 학습 현황: <%= learningProg%>
  <script type="module" src="/javascripts/story.js"></script>
</body>
</html>
